[defaults]
inventory = ansible/inventory/generated.yml
roles_path = vendor/mikrus-devops-portfolio/roles
collections_path = .ansible/collections
local_tmp = .ansible/tmp
remote_tmp = /tmp/aws-portfolio-ansible
interpreter_python = /usr/bin/python3
retry_files_enabled = False
